img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

img {
    display: inline-block;
    vertical-align: middle;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
    max-width: none !important;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.sticky-top {
    position: fixed;
    top: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.dead-center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.focused {
    z-index: 1;
}

[fit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}