html,
body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/*.container {
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}*/
.container {
    padding: 0;
    margin: 0 auto;
    width: 90%;
}


.row {
    width: 100%;
    margin: 0 auto;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    margin: 1em;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.grid > .block {
    padding: 10px;
}

@media only screen {
    .s-grid-1 > .block {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .s-grid-2 > .block {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
    .s-grid-3 > .block {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    }
    .s-grid-4 > .block {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    }
    .s-grid-5 > .block {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
    }
    .s-grid-6 > .block {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16.66667%;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    }
    @media only screen and (min-width: 40.063em) {
        .m-grid-1 > .block {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        }
        .m-grid-2 > .block {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
        }
        .m-grid-3 > .block {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 33.33333%;
            -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
        }
        .m-grid-4 > .block {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 25%;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
        }
        .m-grid-5 > .block {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 20%;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
        }
        @media only screen and (min-width: 64.063em) {
            .l-grid-1 > .block {
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 100%;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
            }
            .l-grid-2 > .block {
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 50%;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
            }
            .l-grid-3 > .block {
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 33.33333%;
                -ms-flex: 0 0 33.33333%;
                flex: 0 0 33.33333%;
            }
            .l-grid-4 > .block {
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 25%;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
            }
            .l-grid-5 > .block {
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 20%;
                -ms-flex: 0 0 20%;
                flex: 0 0 20%;
            }
            .l-grid-6 > .block {
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 16.66667%;
                -ms-flex: 0 0 16.66667%;
                flex: 0 0 16.66667%;
            }
        }