html,
body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}

.row {
    width: 100%;
    margin: 0 auto;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

[class*="grid-"] {
    display: block;
    padding: 0;
    margin: 0 -0.625rem;
}

[class*="grid-"]:before,
[class*="grid-"]:after {
    content: " ";
    display: table;
}

[class*="grid-"]:after {
    clear: both;
}

[class*="grid-"] > li {
    display: block;
    height: auto;
    float: left;
    padding: 0 0.625rem 1.25rem;
}

@media only screen {
    .s-grid-1 > li {
        width: 100%;
        list-style: none;
    }
    .s-grid-1 > li:nth-of-type(1n) {
        clear: none;
    }
    .s-grid-1 > li:nth-of-type(1n+1) {
        clear: both;
    }
    .s-grid-2 > li {
        width: 50%;
        list-style: none;
    }
    .s-grid-2 > li:nth-of-type(1n) {
        clear: none;
    }
    .s-grid-2 > li:nth-of-type(2n+1) {
        clear: both;
    }
    .s-grid-3 > li {
        width: 33.33333%;
        list-style: none;
    }
    .s-grid-3 > li:nth-of-type(1n) {
        clear: none;
    }
    .s-grid-3 > li:nth-of-type(3n+1) {
        clear: both;
    }
    .s-grid-4 > li {
        width: 25%;
        list-style: none;
    }
    .s-grid-4 > li:nth-of-type(1n) {
        clear: none;
    }
    .s-grid-4 > li:nth-of-type(4n+1) {
        clear: both;
    }
    .s-grid-5 > li {
        width: 20%;
        list-style: none;
    }
    .s-grid-5 > li:nth-of-type(1n) {
        clear: none;
    }
    .s-grid-5 > li:nth-of-type(5n+1) {
        clear: both;
    }
    .s-grid-6 > li {
        width: 16.66667%;
        list-style: none;
    }
    .s-grid-6 > li:nth-of-type(1n) {
        clear: none;
    }
    .s-grid-6 > li:nth-of-type(6n+1) {
        clear: both;
    }
    .s-grid-7 > li {
        width: 14.28571%;
        list-style: none;
    }
    .s-grid-7 > li:nth-of-type(1n) {
        clear: none;
    }
    .s-grid-7 > li:nth-of-type(7n+1) {
        clear: both;
    }
    .s-grid-8 > li {
        width: 12.5%;
        list-style: none;
    }
    .s-grid-8 > li:nth-of-type(1n) {
        clear: none;
    }
    .s-grid-8 > li:nth-of-type(8n+1) {
        clear: both;
    }
    .s-grid-9 > li {
        width: 11.11111%;
        list-style: none;
    }
    .s-grid-9 > li:nth-of-type(1n) {
        clear: none;
    }
    .s-grid-9 > li:nth-of-type(9n+1) {
        clear: both;
    }
    .s-grid-10 > li {
        width: 10%;
        list-style: none;
    }
    .s-grid-10 > li:nth-of-type(1n) {
        clear: none;
    }
    .s-grid-10 > li:nth-of-type(10n+1) {
        clear: both;
    }
    .s-grid-11 > li {
        width: 9.09091%;
        list-style: none;
    }
    .s-grid-11 > li:nth-of-type(1n) {
        clear: none;
    }
    .s-grid-11 > li:nth-of-type(11n+1) {
        clear: both;
    }
    .s-grid-12 > li {
        width: 8.33333%;
        list-style: none;
    }
    .s-grid-12 > li:nth-of-type(1n) {
        clear: none;
    }
    .s-grid-12 > li:nth-of-type(12n+1) {
        clear: both;
    }
}

@media only screen and (min-width: 40.063em) {
    .m-grid-1 > li {
        width: 100%;
        list-style: none;
    }
    .m-grid-1 > li:nth-of-type(1n) {
        clear: none;
    }
    .m-grid-1 > li:nth-of-type(1n+1) {
        clear: both;
    }
    .m-grid-2 > li {
        width: 50%;
        list-style: none;
    }
    .m-grid-2 > li:nth-of-type(1n) {
        clear: none;
    }
    .m-grid-2 > li:nth-of-type(2n+1) {
        clear: both;
    }
    .m-grid-3 > li {
        width: 33.33333%;
        list-style: none;
    }
    .m-grid-3 > li:nth-of-type(1n) {
        clear: none;
    }
    .m-grid-3 > li:nth-of-type(3n+1) {
        clear: both;
    }
    .m-grid-4 > li {
        width: 25%;
        list-style: none;
    }
    .m-grid-4 > li:nth-of-type(1n) {
        clear: none;
    }
    .m-grid-4 > li:nth-of-type(4n+1) {
        clear: both;
    }
    .m-grid-5 > li {
        width: 20%;
        list-style: none;
    }
    .m-grid-5 > li:nth-of-type(1n) {
        clear: none;
    }
    .m-grid-5 > li:nth-of-type(5n+1) {
        clear: both;
    }
    .m-grid-6 > li {
        width: 16.66667%;
        list-style: none;
    }
    .m-grid-6 > li:nth-of-type(1n) {
        clear: none;
    }
    .m-grid-6 > li:nth-of-type(6n+1) {
        clear: both;
    }
    .m-grid-7 > li {
        width: 14.28571%;
        list-style: none;
    }
    .m-grid-7 > li:nth-of-type(1n) {
        clear: none;
    }
    .m-grid-7 > li:nth-of-type(7n+1) {
        clear: both;
    }
    .m-grid-8 > li {
        width: 12.5%;
        list-style: none;
    }
    .m-grid-8 > li:nth-of-type(1n) {
        clear: none;
    }
    .m-grid-8 > li:nth-of-type(8n+1) {
        clear: both;
    }
    .m-grid-9 > li {
        width: 11.11111%;
        list-style: none;
    }
    .m-grid-9 > li:nth-of-type(1n) {
        clear: none;
    }
    .m-grid-9 > li:nth-of-type(9n+1) {
        clear: both;
    }
    .m-grid-10 > li {
        width: 10%;
        list-style: none;
    }
    .m-grid-10 > li:nth-of-type(1n) {
        clear: none;
    }
    .m-grid-10 > li:nth-of-type(10n+1) {
        clear: both;
    }
    .m-grid-11 > li {
        width: 9.09091%;
        list-style: none;
    }
    .m-grid-11 > li:nth-of-type(1n) {
        clear: none;
    }
    .m-grid-11 > li:nth-of-type(11n+1) {
        clear: both;
    }
    .m-grid-12 > li {
        width: 8.33333%;
        list-style: none;
    }
    .m-grid-12 > li:nth-of-type(1n) {
        clear: none;
    }
    .m-grid-12 > li:nth-of-type(12n+1) {
        clear: both;
    }
}

@media only screen and (min-width: 64.063em) {
    .l-grid-1 > li {
        width: 100%;
        list-style: none;
    }
    .l-grid-1 > li:nth-of-type(1n) {
        clear: none;
    }
    .l-grid-1 > li:nth-of-type(1n+1) {
        clear: both;
    }
    .l-grid-2 > li {
        width: 50%;
        list-style: none;
    }
    .l-grid-2 > li:nth-of-type(1n) {
        clear: none;
    }
    .l-grid-2 > li:nth-of-type(2n+1) {
        clear: both;
    }
    .l-grid-3 > li {
        width: 33.33333%;
        list-style: none;
    }
    .l-grid-3 > li:nth-of-type(1n) {
        clear: none;
    }
    .l-grid-3 > li:nth-of-type(3n+1) {
        clear: both;
    }
    .l-grid-4 > li {
        width: 25%;
        list-style: none;
    }
    .l-grid-4 > li:nth-of-type(1n) {
        clear: none;
    }
    .l-grid-4 > li:nth-of-type(4n+1) {
        clear: both;
    }
    .l-grid-5 > li {
        width: 20%;
        list-style: none;
    }
    .l-grid-5 > li:nth-of-type(1n) {
        clear: none;
    }
    .l-grid-5 > li:nth-of-type(5n+1) {
        clear: both;
    }
    .l-grid-6 > li {
        width: 16.66667%;
        list-style: none;
    }
    .l-grid-6 > li:nth-of-type(1n) {
        clear: none;
    }
    .l-grid-6 > li:nth-of-type(6n+1) {
        clear: both;
    }
    .l-grid-7 > li {
        width: 14.28571%;
        list-style: none;
    }
    .l-grid-7 > li:nth-of-type(1n) {
        clear: none;
    }
    .l-grid-7 > li:nth-of-type(7n+1) {
        clear: both;
    }
    .l-grid-8 > li {
        width: 12.5%;
        list-style: none;
    }
    .l-grid-8 > li:nth-of-type(1n) {
        clear: none;
    }
    .l-grid-8 > li:nth-of-type(8n+1) {
        clear: both;
    }
    .l-grid-9 > li {
        width: 11.11111%;
        list-style: none;
    }
    .l-grid-9 > li:nth-of-type(1n) {
        clear: none;
    }
    .l-grid-9 > li:nth-of-type(9n+1) {
        clear: both;
    }
    .l-grid-10 > li {
        width: 10%;
        list-style: none;
    }
    .l-grid-10 > li:nth-of-type(1n) {
        clear: none;
    }
    .l-grid-10 > li:nth-of-type(10n+1) {
        clear: both;
    }
    .l-grid-11 > li {
        width: 9.09091%;
        list-style: none;
    }
    .l-grid-11 > li:nth-of-type(1n) {
        clear: none;
    }
    .l-grid-11 > li:nth-of-type(11n+1) {
        clear: both;
    }
    .l-grid-12 > li {
        width: 8.33333%;
        list-style: none;
    }
    .l-grid-12 > li:nth-of-type(1n) {
        clear: none;
    }
    .l-grid-12 > li:nth-of-type(12n+1) {
        clear: both;
    }
}
